*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #111;
    cursor: none;
}

#main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main2{
    height: 100vh;
    width: 100vw;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: yellow;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
}

#image{
    height: 60vh;
    width: 40vw;
    position: relative;
}

img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 10;
}
