* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;

}

body{
    overflow-x: hidden;
}

section {
    height: 100%;
    width: 100%;
    position: relative;
}

nav {
    padding: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 30px;
    gap: 100px;
}

nav h1 i {
    font-size: 30px;
    display: inline-block;
    rotate: 45deg;
    margin-right: 5px;
}

.part2 {
    display: flex;
    align-items: center;
    gap: 45px;
}

.part2 h4 {
    font-size: 15px;
    font-weight: 350;
}

.part2 button {
    padding: 10px 20px;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 450;
}

.center {
    height: 75%;
    width: 100%;
    display: flex;
    padding: 40px 70px;

}

.center-part1 {
    width: 40%;
    height: 100%;
}

.center-part2 {
    width: 60%;
    height: 100%;
    position: relative;
}

.center-part1 h1 {
    font-size: 46px;
    line-height: 1;
}


.center-part1 p {
    font-size: 14px;
    color: grey;
    width: 75%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.center-part1 button {
    padding: 15px 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 12px;
}


.center-part2 img {
    height: 100%;
    position: absolute;
    right: 0;
}


.section1bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px;
}

.section1bottom img {
    height: 30px;
}

.section2 .services {
    margin-top: 20px;
    padding: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.services h3 {
    background-color: rgba(153, 205, 50, 0.802);
    font-size: 20px;
    padding: 5px 8px;
    font-weight: 500;
}

.services p {
    width: 40%;
    font-size: 13px;
}


.container {
    height: 85%;
    width: 100%;
    padding: 35px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.elem {
    flex-shrink: 0;
    height: 175px;
    width: 35%;
    border-radius: 40px;
    border: 2px solid black;
    /* box-shadow: 0px 8px 0px black; */
    padding: 20px;
    display: flex;
}

.elem-part1{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.elem-part2{
    margin-left: 15px;
    height: 100%;
    width: 50%;
}
  
.elem-part2 img{
    height: 100%;
}

.elem-part1 h2{
    font-size: 22px;
    padding: 0px 5px;
    border-radius: 5px;
    background-color:  rgba(153, 205, 50, 0.802);
}


.elem-part1 h4{
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 10px;
}

.elem-part1 h4 i{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.black{
    background-color: black;
}

.black .elem-part1 h2{
    background-color: white;
}

.black .elem-part1 h4 {
    background-color: black;
    color: white;

}

.black .elem-part1 h4 i{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
