*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#page1,#page2,#page3{
    height: 100vh;
    width: 100%;
    padding: 5vw 0;
}

#move{
    background-color: #D8FF04;
    display: flex;
    /* flex-wrap: nowrap; */
    padding: 2vw;
    overflow: hidden;

}
.marque{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 4vw;
    padding: 0 2vw;
    /* background-color: red; */
    transform: translateX(-100%);

}
.marque h1{
    font-size: 35px;
    font-weight: 500;
    font-family: cursive;
}
.marque img{
    height: 60px;
}