*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family:'Times New Roman', Times, serif;
}
/* #page1{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(106, 78, 78);
        display: flex;
    align-items: center;
    justify-content: center;
}

#page3{
    height: 100%;
    width: 100%;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 200px;
    height: 200px; 
    background-color: black;
} */
body{
    overflow-x:hidden
}
#page1{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    padding: 1vw 0;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: black;
}

#page2 h2{
    font-size: 40vw;
    text-transform: uppercase;
}