*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family:cursive;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #111;
}

.box1{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.box2{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-radius: 50%;
    margin-bottom: 5px;
}

.box3{
    height: 200px;
    width: 200px;
    background-color: green;
    border-radius: 50%;
    margin-bottom: 5px;
}

.nav{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.mini_nav{
    display: flex;
    gap: 30px;
    font-size: 20px;
}


h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
