*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #111;
    
}

#string {
    height: 100px;
    width: 100%;
}

/* svg{
    background-color: rebeccapurple;
} */
