* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-color: #111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 150px;
    font-weight: 800;
    background-color: red;
    padding: 2px;
    border-radius: 10px;
}


h1 span{
    display: inline-block;
}
