*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,body{
  height: 100%;
  width: 100%;
}

main{
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}


.container{
  width: 300px;
  height: 500px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box{
  height: 200px;
  width: 200px;
  background-color: rgba(195, 23, 23, 0.876);
  border-radius: 20px;
}

.circle{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: rgb(220, 220, 210);
  margin-bottom: 10px;
}

button{
  color: rgb(251, 251, 251);
  padding: 12px 25px;
  background-color: seagreen;
  border: none;
  border-radius: 10px;
}

button:active{
  scale: 0.96;
}